{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobAi | Dashboard</title>
    <link rel="icon" href="{% static 'images/JobAi-logo1.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="{% static 'assets/js/home.js'%}"></script>
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
    <script src="{%static 'assets/js/bootstrap.bundle.min.js'%}"></script>
</head>

<body>
    <div class="sidebar">
        <a href="/"><img src="{%static 'images/JobAi2.png'%}" alt="JobAi" height="50px" style="border-radius: 25px;"
                class="mx-5"></a>
        <hr class="divider">
        <div class="fw-bold fs-5 mx-4"><img src="{%static 'images/profile.jpeg'%}" alt="profile-pic"
                class="profile-pic1 w-75 h-75 mx-3" style="margin-left: 12px;margin-right: 18px;">
            <center>Welcome Back <br>{{ fname }}</center>
        </div>
        <hr class="divider">
        <ul class="mt-4">
            <div class="box" onclick="select(this)">
                <a href="{%url 'home'%}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-home"></i> &emsp;Profile</li>
                </a>
            </div>
            <div class="box" onclick="select(this)">
                <a href="{%url 'search-job' %}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-search"></i> &emsp;Search Job</li>
                </a>
            </div>
            <div class="box" onclick="select(this)">
                <a href="{%url 'ai_cover_letter'%}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-envelope"></i> &emsp;AI Cover Letter</li>
                </a>
            </div>
            <div class="box" onclick="select(this)">
                <a href="{%url 'mock-interview'%}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-user"></i> &emsp;Job Interview</li>
                </a>
            </div>
           
            <div class="box" onclick="select(this)">
                <a href="{%url 'auto-apply'%}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-bolt"></i> &emsp;Auto Apply</li>
                </a>
            </div>
            <div class="box" onclick="select(this)">
                <a href="{%url 'settings_view' %}" class="nav-link fw-bold">
                    <li><i class="fa-solid fa-gear"></i> &emsp;Settings</li>
                </a>
            </div>
        </ul>
        <div class="sidebarFooter mt-4 text-center">
            <div class="sidebarFooterContent mb-3"><img src="{%static 'images/contact.png'%}" class="contact" width="200px">
                <p class="contactMain mb-3 fw-bold">Contact Us <i class="fas fa-address-book"></i></p>
                <div class="contactUs">
                    <p>tecknohow.132@gmail.com</p>
                    <p>+91 9562766835</p>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (localStorage.getItem("dark-mode") === "true") {
            document.body.classList.add("dark-mode");
        }
    });
</script>

</html>