{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobAi| Company Login</title>
  <link rel="icon" href="{% static 'images/JobAi-logo1.png' %}">
  <script defer src="{% static 'assets/js/alpine.min.js' %}" type="b014f77004e53e5bad1cb140-text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/login.css'%}">
</head>

<body style="background-image: url('../static/images/bg1.png');">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">

      <div class="brand-wrapper">
        <a href="{%url 'user-type'%}" class="nav-link">
          <h6 class="text-white fw-bolder fs-5" style="text-decoration: none;"><img src="{%static 'images/back.png'%}"
              alt="back"
              style="filter:invert(50%);margin-top:0px;height: 35px;border: solid rgb(65, 63, 63);border-radius: 5px;">
          </h6><br>
        </a>
        <a href="{% url 'index'%}"> <img src="{% static 'images/JobAi2.png'%}" alt="logo" class="logo"
            style="height: 90px;border-radius: 25px;box-shadow: 0 0 20px rgb(48, 35, 229);"></a>
        <h4 class="fw-bold mt-2 login-title">Welcome to JobAi</h4>
        <h5>Company Login</h5>
      </div>
      <div class="login-wrapper my-auto">
        <form method="post" action="{%url 'company_dashboard'%}">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Username</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email Address" required>
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password"
              required>
          </div>
          <div class="form-group mb-2">
            <input type="checkbox" name="show_pwd" id="show_pwd" onclick="togglepwd()">
            <label for="Show Password">Show Password</label>

          </div>
          <button name="login" id="login" class="btn btn-block btn-primary w-100">Login</button>
        </form>
        <a href="{%url 'Company Password Reset'%}" class="forgot-password-link mb-2 mt-2">Forgot password?</a>
        <p class="login-wrapper-footer-text mb-0">Don't have an account? <a href="{%url 'company_registration'%}"
            class="text-reset">Register here</a></p>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="{% static 'images/job_portal_about.png'%}" alt="login image" class="login-img"
        style="margin-right: 8px;">
    </div>
  </div>
  </div>
</body>
<script>
  function togglepwd() {
    let passwordInput = document.getElementById("password");
    let checkbox = document.getElementById("show_pwd");
    passwordInput.type = checkbox.checked ? "text" : "password";
  }
</script>

</html>