{%extends 'base.html'%}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{%static 'assets/css/cover-letter.css'%}">
</head>

<body>
    <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{%static 'images/profile.jpeg'%}" class="rounded-circle" alt="Profile"
                                    height="50px" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <div>
                                    <a href="#Support" class="nav-link fw-bold">
                                        <li><i class="fa-solid fa-comment"></i> &emsp;Support</li>
                                    </a>
                                </div>
                                <div>
                                    <a href="{%url 'login'%}" class="nav-link fw-bold">
                                        <li><i class="fas fa-sign-out-alt"></i> &emsp;Logout
                                        </li>
                                    </a>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2 id="cover-letter" class="mb-3">AI cover letter generator</h1>
            <div class="" style="margin-top: 95px;">
                <div class="cover-letter-generator coverletterbox w-100" style="position:relative;margin-bottom:50px">

                    <div class="formcoverletter">
                        <form class="formcover">
                            <div class="coverletterformdiv">
                                <div class="row">

                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Job
                                                Title*</label><input required="" placeholder="Ex. Software Developer"
                                                type="text" id="position" class="form-control" value=""></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Your
                                                Name*</label><input required="" placeholder="Ex. mehul" type="text"
                                                id="name" class="form-control" value=""></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Applying for Company</label><input
                                                required="" placeholder="Ex. google" type="text" id="Companyname"
                                                class="form-control" value=""></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Write
                                                Cover Letter To*</label>
                                            <input required="" placeholder="Ex-> Albert, Hr Manager, CEO" type="text"
                                                id="hrname" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Your
                                                Skills(use ',')</label><input placeholder="Ex. Python,Js,C++"
                                                type="text" id="skills" class="form-control" value=""></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Role
                                                Type</label><input placeholder="Ex. fulltime, intership" type="text"
                                                id="roletype" class="form-control" value=""></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="coverletterinputblock"><label
                                                class="coverletterlabel form-label">Job
                                                Location</label><input placeholder="Ex. Bangalore, Remote etc"
                                                type="text" id="location" class="form-control" value=""></div>
                                    </div>
                                </div>
                                <div class="covergeneratorbutton"><button type="submit" class="mx-5 mt-3"><i
                                            class="fa-solid fa-wand-magic-sparkles"></i> Generate Cover Letter</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
    </div>
</body>
{% endblock %}