{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobAI | Upload Resume</title>
 <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
 <link rel="icon" href="{% static 'images/JobAi-Logo.png' %}">
</head>
<body style="background-image: url('../static/images/bg.webp')">
    <div class="container" id="container1">
        <h1>Upload and Read Word Document</h1>
        <form method="POST" enctype="multipart/form-data" action= "{% url 'read_word_document' %}">
            {% csrf_token %}
            <input type="file" name="word_file" accept=".doc,.docx" required>
            <button type="submit">Upload and Read</button>
        </form>

        {% if content %}
        <div class="content">
            <h2>Document Content:</h2>
            <p>{{ content }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
