{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="main-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{%static 'images/profile.jpeg'%}" class="rounded-circle" alt="Profile"
                                height="50px" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <div>
                                <a href="{%url 'support' %}" class="nav-link fw-bold">
                                    <li><i class="fa-solid fa-comment"></i> &emsp;Support</li>
                                </a>
                            </div>
                            <div>
                                <a href="{%url 'user-type' %}" class="nav-link fw-bold">
                                    <li><i class="fas fa-sign-out-alt"></i> &emsp;Logout
                                    </li>
                                </a>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 id="profile">Profile</h2><br><br>

    <div class="container w-50 mt-4" style="margin-right: 250px;margin-left: 25px;">
        <h4 class="text-center">Upload Resume in doc,docx format</h4>
        <form method="POST" id="uploadForm" enctype="multipart/form-data" action="../read_word_document/">
            {% csrf_token %}

            <input type="file" id="fileInput" name="word_file" accept=".doc,.docx" required>
            <button type="submit" id="submit">Upload and Submit</button>
            
        </form>
<input class="text-danger text-center mx-1 border-light border-0 w-100" value="{{alert_message}}">

        <!-- {% if content %}
            <div class="content">
                <h2>Document Content:</h2>
                <p class="mt-4">{{ content }}</p>
            </div>
            {% endif %} -->
    </div>
    <div class="container1 mt-3" style="margin-left: 20px;">
        <button onclick="toggleEditable()" id="edit" class="float-end bg-success hover-bg-dark" style="border-radius: 19px;">
            <i class="fa fa-edit float-end mx-4 mt-2 fs-5"></i>
            <b class="float-end mt-2">Edit</b>
        </button>
        <form action="" method="POST" enctype="multipart/form-data" class="mt-5">
            {% csrf_token %}
            <div class="row">
                <!-- Left Column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="name" class="fw-bold">Full Name:</label><input type="text" id="name" name="name"
                            class="input1 input-bg toggleInput" placeholder="Enter your full name" value="{{ resume_details.name }}" required
                            readonly="">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="fw-bold">Email:</label>
                        <input type="email" class="input1 input-bg toggleInput" id="email" placeholder="ex: name@gmail.com"
                            value="{{ resume_details.email }}" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="fw-bold">Phone Number:</label><input type="text" id="phone"
                            name="phone" class="input1 input-bg toggleInput" placeholder="Enter your Phone Number(+91)"
                            value="{{ resume_details.phone }}" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="Address" class="fw-bold">Address:</label><input id="Address" name="Address"
                            class="input1 input-bg toggleInput" placeholder="Enter your Address" required rows="5" cols="5"
                            value="{{ resume_details.address }}" readonly></textarea>
                    </div>
                </div>
                <!-- right column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="dob" class="fw-bold">Date Of Birth</label><br>
                        <input type="text" id="dob" name="dob" class="input1 input-bg toggleInput" placeholder="Enter Date of Birth" value="{{ resume_details.dob }}" readonly
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="Education" class="fw-bold">Education Qualification</label><br>
                        <input type="text" name="Education" id="Education" class="input1 input-bg toggleInput"
                            placeholder="Enter your Highest Qualification"
                            value="{{ resume_details.highest_qualification }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="skills" class="fw-bold">Skills:</label><input type="text" id="skills" name="skills"
                            class="input1 input-bg toggleInput" placeholder="Enter your Skills" value="{{resume_details.skills}}" required
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="job preferences" class="fw-bold">Job Preference(Only one):</label><input type="text"
                            name="job_preferences" class="input1 input-bg toggleInput" placeholder="Enter your highest Job Preference"
                            value="{{ resume_details.job_preference }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="preferences" class="fw-bold">Job Location Preferences:</label><input type="text"
                            id="Preference" name="Preference" class="input1 input-bg toggleInput"
                            placeholder="Enter your preferred Job Location">
                    </div>

                </div>
                <center> <button class="w-50 m-4 button1 justify-content-center" type="submit">Update Profile</button>
                </center>
            </div>
        </form>
    </div>
    <script>
    function toggleEditable() {
    let input = document.getElementById("toggleInput");
    if (input.hasAttribute("readonly")) {
      input.removeAttribute("readonly");
    } else {
      input.setAttribute("readonly", true);
    }
  }
    </script>
    {%endblock%}